<main>
  
  <header class="users">
    <h1>Users : </h1>
    <div class="users_list">
      <p>Select user</p>
      <button *ngFor="let user of users" (click)="selectUser(user.id)">{{user.firstname}} {{user.lastname}} (id:{{user.id}})</button>
    </div>
    <p>Logged as user : {{displayLoggedUser}} </p>
  </header>

  <section class="conversations">
    <div class="conversations_title_list">
      <h2 style="margin-top: 0;">Conversations list</h2>
      <div class="conversation_list">
        <article *ngFor="let conversation of conversations" class="article_conversation" (click)="selectConversation(conversation.id)">
          <p class="users_conversation_name">{{interlocutor}}</p>
          <!--Get last message sent-->          
        </article>
      </div>
      
    </div>
  
    <div class="conversation">
      <div *ngIf="selectedChat">
        <article *ngFor="let message of chat" class="chat">
          <i>{{message.user?.firstname}} {{message.user?.lastname}} {{message.createdat}}</i>
          <p style="margin: 0;">{{message.message}}</p>
        </article>
        <p *ngIf="chat?.length===0">No messages</p>
      </div>
    </div>
  </section>
  
  <form *ngIf="selectedChat" (ngSubmit)="sendChatMessage()" class="input_send">
    <input type="text" [value]="chatInput" (input)="change($event)" />
    <button type="submit">send</button>
  </form>

</main>